.sidebar {
    position: fixed;
    top: 0;
    left: 9%;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to left, #367952, #1f412d);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 10px solid #306e4a;
    border-top: 10px solid #306e4a;
    border-bottom: 10px solid #306e4a;
    transition: width 0.5s ease;
    z-index: 999;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1); /* Add shadow to the left side */
    width: 260px; /* Set default width */
  }
  .sidebar .logo {
    color: #eeeef2;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
    margin-top: 10%;
    margin-bottom: 20%;
  }
  .providence3dlogo
  {
    position: absolute;
    top: 5%;
    left: 93.2%;
    height: 100px;
    width: 120px;
    z-index: 1000;
    overflow-y: hidden;
  }
  .sidebackground
  {
    height: 100%;
    background-color: #1f412d;
    position: absolute;
    left: 0;
    z-index: 2;
    top: 0;
    width: 20%;
    border-top: 10px solid #306e4a;
    border-bottom: 10px solid #306e4a;
    border-left: 10px solid #306e4a;
  }
  
  .rightbackground
  {
    height: 100%;
    background-color: #1f412d;
    position: absolute;
    left: 90%;
    z-index: 0;
    top: 0;
    width: 10%;
    border-top: 10px solid #306e4a;
    border-bottom: 10px solid #306e4a;
    border-right: 10px solid #306e4a;
  }
  
  .admintext3d
  {
    position: absolute;
    top: 10%;
    left: -2.5%;
    height: 80%;
    width: 250px;
    z-index: 1000;
    
  }


  .big-white-box {
    position: absolute;
    background-color: #eeeef2;
    width: 71%;
    height: 100%;
    left: 22%;
    align-items: center;
    border-right: 10px solid #367952; /* Keep the right border */
    border-bottom: none; /* Remove the bottom border */
    backdrop-filter: blur(7px); /* Adjust the blur amount as needed */
    padding-top: 5%;
    box-shadow: 10px 0px 10px 2px rgba(0, 0, 0, 0.1); /* Add shadow to the left side */
    overflow-x: hidden;
    
  }
  .big-white-box h1
  {
    position: absolute;
    width: 100%;
    top: 4%;
    align-items: center;
    text-align: center;
    justify-content: center;
  
  }
  .passbuttons {
    position: relative;
    margin-top: 3%;
    top: 15%;
    left: 2.5%;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    border-radius: 10px;
  }
  .passbuttons button {
    background-color: transparent;
    border: none;
    padding: 10px;
  }
  
  .passbuttons button ion-icon {
    font-size: 35px;
    color: #367952;
  }
  .passbuttons button:hover {
    transform: scale(1.2);
  }
  .existingbutton
{
  display: flex;
  gap: 2vh;
  color: #1b461d;
  /* border: solid 1px black; */
  align-items: center;
  justify-content: center;
  text-align: center;
}
  .listaccs3d {
    position: relative;
    top: 5%;
    left: 2.5%;
    width: 95%;
    height: 300px;
    background-image: url('pictures/greenbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2%;
    margin-bottom: 8%;
  }
  .logolistaccs3d
  {
    width: 40%;
    left: 28%;
    height: 100%;
  }

  .detailstable {
    padding-top: 2%;
    padding-bottom: 5%;
    margin-bottom: 50px;
    left: 5%;
    position: absolute;
    display: grid;
    top: 5%;
    height: auto;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Use a softer color for the border */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Add shadow */
    background-color: #fff; /* Add background color */
    border-radius: 20px; /* Add border radius to make corners circular */
  }  

      
    .wrap {
      height: 100%;
      
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      
    }

.ownercreation
{
    position: relative;
    left: 5%;
    height: auto;
    padding: 2%;
    width: 90%; 
    border: 2px solid rgba(0, 0, 0, 0.1); /* Use a softer color for the border */
    background-color: #fff; /* Add background color */
    border-radius: 20px;
}


  .st2:hover {
    fill: #FFD95A;
    stroke: #eee;
    transition: 0.1s;
    
  }
  
  .messageBox {
    position: absolute;
    display: none;
    background-color: rgba(255, 254, 254, 0.9);
    color: #2A4353;
    padding: 10px;
    z-index: 1000;
    border-radius: 5px; /* Adding rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}

  /* Adjusting the arrow to remove it */
  .messageBox::before {
    display: none;
  }

  .st1piety{
    fill:rgb(194, 71, 118);
    stroke: transparent;
    stroke-width: .25;
}
.st1piety:hover {
    fill: rgb(194, 71, 118);
    stroke: transparent;
    transition: 0.6s;
    cursor: pointer;
}
.st1reflection{
    fill:rgb(158, 17, 177);
    stroke: transparent;
    stroke-width: .25;
}
.st1reflection:hover {
    fill: rgb(205, 45, 226);
    stroke: transparent;
    transition: 0.6s;
    cursor: pointer;
}
.st1solace{
    fill:rgb(221, 69, 122);
    stroke: transparent;
    stroke-width: .25;
}
.st1solace:hover {
    fill: rgb(177, 56, 98);
    stroke:transparent;
    transition: 0.6s;
    cursor: pointer;
}
.st1serenity{
    fill:rgb(166, 53, 170);
    stroke: #606892;
    stroke-width: .25;
}
.st1serenity:hover {
    fill: rgb(209, 63, 214);
    stroke: transparent;
    transition: 0.6s;
    cursor: pointer;
}
.st1tranquility{
    fill:rgb(68, 27, 163);
    stroke: transparent;
    stroke-width: .25;
}
.st1tranquility:hover {
    fill: rgb(87, 35, 207);
    stroke: transparent;
    transition: 0.6s;
    cursor: pointer;
}
.st1evergreen{
    fill:rgb(216, 71, 84);
    stroke: transparent;
    stroke-width: .25;
}
.st1evergreen:hover {
    fill: rgb(230, 37, 53);
    stroke: transparent;
    transition: 0.6s;
    cursor: pointer;
}
.st1tapestry{
    fill:rgb(170, 72, 7);
    stroke: transparent;
    stroke-width: .25;
}
.st1tapestry:hover {
    fill: rgb(219, 94, 11);
    stroke: transparent;
    transition: 0.6s;
    cursor: pointer;
}
.search-container {
    position: absolute;
    margin-top: 20px; /* Add some space between search bar and search result */
    top: 17%;
    left: 52%;
    height: auto;
    
}

.ownername
{

    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    padding: 0;
}
.ownername label {
    text-align: left;
    margin-right: 3%;
}

.ownerinputs {
    left: 8px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    height: 35px;
}
.ownerinputs input{

    padding: 4px;
    width: 33%;
}


.owneremail
{

    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 0;
}
.emailname {
    text-align: left;
    margin-right: 14.4%;
    padding: 3px;
    
}

.emailinput {
    left: 8px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    height: 35px;
}

.emailinput input{

    padding: 4px;
    width: 80%;
}


.ownercontact
{

    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 0;
}
.contactname {
    text-align: left;
    margin-right: 12.2%;
    padding: 3px;
    
}

.contactinput {
    left: 8px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    height: 35px;
}

.contactinput input{

    padding: 4px;
    width: 40%;
}



.owneraddress
{

    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 0;
}
.addressname {
    text-align: left;
    margin-right: 12.2%;
    padding: 3px;
    
}

.addressinput {
    left: 8px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    height: 35px;
}

.addressinput input{

    padding: 4px;
    width: 40%;
}


.ownerpassword
{

    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 0;
}
.passwordname {
    text-align: left;
    margin-right: 11.1%;
    padding: 3px;
    
}

.passwordinput {
    left: 8px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    height: 35px;
}

.certificateshit
{

    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 0;
}
.certificate {
    text-align: left;
    margin-right: 11.1%;
    padding: 3px;
    
}

.certificatepic {
    left: 8px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    height: 35px;
}
.document-link {
    background-color: #ffc300;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
  }

  .document-link ion-icon {
    color: #eeeef2;
  }

.document-link1 {
    background-color: #2472e6;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
  }

  .document-link1 ion-icon {
    color: #eeeef2;
  }
.passwordinput input{

    padding: 4px;
    width: 40%;
}


.ownertype
{

    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    display: inline-flex;
    padding: 0;
}



.requesttype
{

    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    display: inline-flex;
    padding: 0;
}

.requestlabel {
    text-align: left;
    margin-right: 10%;
}



.requestradio {
  display: flex;
    gap: 2vh;
    align-items: center;
    position: relative;
    /* border: solid 1px black; */
    width: 80%;
}


.requestradio input
{

    padding: 4px;
    margin-right: 5px;

}
.locationsite
{
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 2vh;
}
.locationsite label
{
  display: flex;
  width: 20%;
  align-items: center;
}
.locationsite select
{
  width: 50%;
  padding: 1%;
  margin-right: 2%;
}
.locationsite button
{
  padding: 1%;
  background-color: #306e4a;
  color: #eeeef2;
  border-radius: 5px;
  display: flex;
  align-items: center;
}



.svg-container {

    width: 100%; 
    /* border: solid 1px black; */
    aspect-ratio: 1/1;
    height: 450px;
    overflow: hidden;
    border: 5px solid #59cc89;
    background-color: #22223b;
    border-radius: 15px;  
}

  svg {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease;
  }
  @keyframes glow {
    0% { fill: #ffffff; }
    50% { fill: #ff0000; }
    100% { fill: #ffffff; }
}

.glow {
    animation: glow 3s infinite;
}
.mapandinput
{
    display: inline-flex;
    width: 100%;
}

.selected {
    fill: red !important; /* Change this to the desired color */
}

.btnLogin-popup {
    margin-right: 10px;
    min-width: 60px;
    min-height: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 100;
    color: #ffffff;
    background: #4fd16b;
    background: linear-gradient(90deg, #235f26 0%, #3da542 100%);
    border: 5px solid white;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .btnLogin-popup::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(32px + 150px);
    min-height: calc(28px + 12px);
    border: 2px solid #4fd16b;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .btnLogin-popup:hover, .btnLogin-popup:focus {
    color: #ffffff;
    transform: translateY(-6px);
  }
  
  .btnLogin-popup:hover::before, .btnLogin-popup:focus::before {
    opacity: 1;
  }

  .buttonbg {
    margin-top: 30px;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #428144, #1b461d); /* Adjust colors as needed */
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .legend {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px;
    gap: 10px;
    
    
}
  .legend span {
    font-size: 12px;
}
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.st1piety { fill: rgb(194, 71, 118); stroke: transparent; stroke-width: .25; }
.st1piety:hover { fill: rgb(194, 71, 118); stroke: transparent; transition: 0.6s; cursor: pointer; }
.st1reflection { fill: rgb(58, 100, 177); stroke: transparent; stroke-width: .25; }
.st1reflection:hover { fill: rgb(105, 145, 226); stroke: transparent; transition: 0.6s; cursor: pointer; }
.st1solace { fill: rgb(221, 169, 122); stroke: transparent; stroke-width: .25; }
.st1solace:hover { fill: rgb(177, 136, 98); stroke: transparent; transition: 0.6s; cursor: pointer; }
.st1serenity { fill: rgb(207, 106, 135); stroke: transparent; stroke-width: .25; }
.st1serenity:hover { fill: rgb(237, 143, 167); stroke: transparent; transition: 0.6s; cursor: pointer; }
.st1tranquility { fill: rgb(218, 127, 12); stroke: transparent; stroke-width: .25; }
.st1tranquility:hover { fill: rgb(237, 160, 41); stroke: transparent; transition: 0.6s; cursor: pointer; }
.st1evergreen { fill: rgb(136, 78, 160); stroke: transparent; stroke-width: .25; }
.st1evergreen:hover { fill: rgb(173, 119, 196); stroke: transparent; transition: 0.6s; cursor: pointer; }
.st1tapestry { fill: rgb(170, 72, 57); stroke: transparent; stroke-width: .25; }
.st1tapestry:hover { fill: rgb(219, 94, 77); stroke: transparent; transition: 0.6s; cursor: pointer; }

.st1piety-color { background-color: rgb(194, 71, 118); }
.selected-color { background-color: #B20600; }
.st1reflection-color { background-color: rgb(58, 100, 177); }
.st1solace-color { background-color: rgb(221, 169, 122); }
.st1serenity-color { background-color: rgb(207, 106, 135); }
.st1tranquility-color { background-color: rgb(218, 127, 12); }
.st1evergreen-color { background-color: rgb(136, 78, 160); }
.st1tapestry-color { background-color: rgb(170, 72, 57); }
.taken-lots { background-color: #A98B98; }

.soldlot { background-color: #A98B98; }
.selectible { background-color: #41B06E; }

.search-container {
    position: absolute;
    margin-top: 20px; /* Add some space between search bar and search result */
    top: 17%;
    left: 52%;
    height: auto;}

    
    .no-id {
        fill: #343131; /* Change this to whatever color you want for lots without IDs */
    }