@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --darkgreen:#16423C;
    --green:#3da542;
    --lightgreen:#7fd175;
    --black:#343131;
    --pureblack:#191919;
    --white:#eeeef2;
    --khaki:#FFF5E0;
    --yellow:#FFD95A;
}
body {
    display: flex;
    position: relative;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh; 
    background-color: #eeeef2;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('pictures/backgroundimage.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
}
.rightbackground
{
  height: 100%;
  background: linear-gradient(to right, #2c5f41, #1f412d);
  position: fixed;
  left: 90%;
  z-index: 0;
  top: 0;
  width: 10%;
  border-top: 10px solid #306e4a;
  border-bottom: 10px solid #306e4a;
  border-left: 10px solid #306e4a;
  display: grid;
  box-sizing: border-box;
  gap: 0;
}

.admintext3d
{
  top: -50%;
  height: 100%;
  width: auto;
  z-index: 1000;
}
.providence3dlogo
{
  top: 10%;
  height: 20%;
  width: auto;
  z-index: 1000;
  overflow-y: hidden;
}
.stats3dlogo
{
  position: fixed;
  top: 2%;
  left: 5%;
  height: 22%;
  width: 14%;
  z-index: 1000;
 /* border: solid 1px black; */
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 20px 100px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #eeeef2;
    font-size: 14px;
    z-index: 2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Add bottom shadow */
}
.logoprovidence {
    position: relative; /* Change to absolute positioning */
    left: 20px; /* Adjust the left position as needed */
    width: 250px; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
    background: url("pictures/providencelogowithtext.png") no-repeat;        
    background-size: contain; /* Set to contain to fit the entire image */
    z-index: 3; /* Set a higher z-index to ensure it's on top */
}
.navigation .btnLogin-popup:hover
{
    background: #b7e0b4;
    color: #162938;
}
.logoprovidence:hover {
    transform: scale(1.1); /* Adjust the scale factor for the desired zoom effect */
    transition: transform 0.3s ease;
}
.logoprovidence:not(:hover) {
    transition: transform 0.3s ease;
    transform: scale(1); /* Zoom back out when not hovered */
}

.navigation {
    transform: translateY(-50%);
}
.navigation {
    position: relative;
    top: 70%; /* Adjust the vertical position */
    transform: translateY(-50%);
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #328636; /* Set text color to black */
    text-decoration: none;
    font-weight: 570;
    margin-left: 20px; /* Adjust margin as needed */
    z-index: 1;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right,  #19431b, #3da542, #7fd175, #3da542, #19431b); /* Set the line color to black */
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.toggle-btn
{
    position: fixed;
    display: block;
    right: 2%;
    top: 5%;
    border-color: #16423C;
    width: 20%;
    height: 10%;
}
.toggle-btn ion-icon
{
    /* display: none; */
    font-size: 10px;
}
.dropdown-menu
{
    position: fixed;
    display: none;
    width: 60%;
    z-index: 1000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    right: -100%;
    z-index: 6;
    background-color: var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 5%;
    height: 100vh;
    transition: right 0.3s ease;
}
.dropdown-menu.show {
    right: 0;
}

.close-btn {
    background: none;
    border: none;
    width: 100%;
    justify-content: right;
    display: flex;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--white);
}

.dropdown-menu li
{

    display: flex;
    align-items: center;
    justify-content: right;
}
.dropdown-menu h4
{

    display: flex;
    align-items: center;
    justify-content: right;
}
.dropdown-menu li a
{
    font-size: 1.2rem;
}
.logosidebar {
    color: #eeeef2;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
    margin-bottom: 10%;
}

.logosidebar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #FFD95A; /* Adjust the color and width as needed */
    object-fit: cover; /* Ensure the image covers the entire area */
}

.logosidebar h2 {
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    transition: all 0.3s ease; /* Add a transition for smoother text effect */
    color: var(--black);
}

  
.sidebar {
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    padding-left: 1%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to left, #367952, #1f412d);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 10px solid #306e4a;
    border-top: 10px solid #306e4a;
    border-bottom: 10px solid #306e4a;
    transition: width 0.5s ease;
    z-index: 999;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1); /* Add shadow to the left side */

  }

.sidebar .logo {
    color: #eeeef2;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
    margin-bottom: 10%;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #FFD95A; /* Adjust the color and width as needed */
    object-fit: cover; /* Ensure the image covers the entire area */
}

.logo h2 {
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    transition: all 0.3s ease; /* Add a transition for smoother text effect */
}

.sidebar .logo h2,
.sidebar .logo h2:hover {
    display: block;
    color: #eeeef2; /* Add the desired color on hover */
}

.sidebar .links {
    font-size: 18px;
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: 100%;
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}
.links li span{
    color: #eeeef2;
}

.links li:hover {
    cursor: pointer;
    background: #59cc89;
}

.links h4 {
    color: #eeeef2;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Add a transition for smoother text effect */
}

.sidebar .links h4,
.sidebar .links li:hover h4 {
    display: block;
    color: #eeeef2; /* Add the desired color on hover */
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar .links hr,
.sidebar .links li:hover hr {
    border-color: transparent;
    transition: all 0.3s ease; /* Add a transition for smoother text effect */
}

.links li span {
    padding: 12px 10px;
    transition: all 0.3s ease; /* Add a transition for smoother text effect */
}

.links li a {
    padding: 10px;
    color: #eeeef2;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    transition: all 0.3s ease; /* Add a transition for smoother text effect */
}

.sidebar .links li a,
.sidebar .links li:hover a {
    display: block;
    color: #eeeef2; /* Add the desired color on hover */
}
.internmentform {
   position: relative;
    width: 70%;
    height: 100%;
    left: 20%;
    border-top: 10px solid #367952; 
    /* border-right: 10px solid #367952;  */
    /* border-left: 10px solid #367952;  */
    border-bottom: none; 
    backdrop-filter: blur(7px); 
    background-color: #eeeef2;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  /* Add shadow to the left side */
    overflow-x: hidden;

}
.internmentform h1
{
    margin-top: 1%;
    margin-bottom: 1%;
  position: relative;
  width: 100%;
  top: -5%;
  /* border: solid 1px black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.internmentform h1 img
{
    width:40%;
    
}
.detailstable {
    top: -5%;
    left: 5%;
    position: relative;
    padding-top: 5%;
    height: auto;
    min-height: 100vh;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:  0 0 15px #bfbfbf; 
    background-color: #eeeef2; 
    border-radius: 20px; 
    border: 5px solid #328636;
    margin-bottom: 5%;
  }

  .detailstable h1{
    position: absolute;
    top: 39%;
    left: 40.5%;
    transform: translatey(-50%);
  }
  
.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #FFD95A; /* Adjust the color and width as needed */
    object-fit: cover; /* Ensure the image covers the entire area */
}
table {

    position: relative;
    top: 15%;
    text-align: center;
    max-width: 100%;
    width: 90%;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 15px;
    margin: 0 auto; /* This centers the table horizontally within its container */
    border-radius: 5px; /* Add border radius to make corners circular */
    border: none;
  }
  
  td {
    max-height: 10px; /* Set the desired fixed height */
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap; /* Add this line to prevent wrapping */
    text-align: center;
    background-color: #eeeef2;
  }
  th{
  
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    height: 12px; /* Add border radius to make corners circular */
  }
  
  th {
    background-color: #266529;
    color: white;
    font-weight: bold;
  }
  .search-bar {
    position: relative;
    margin-top: 3%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    margin-left: auto; /* Or margin-right: 0 */
    border-radius: 5px;    /* Rounded corners for a smoother look */
    padding: 5px;          /* Add some padding for aesthetics */
  }
  .search-bar input {
    padding: 8px;
    width: 500px;
    border: none;
    border-radius: 5px;
    border: 1px solid gray; /* Border color and thickness */
  }
  
  .search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #000000;
    height: 50px;
    width: 40px;
    font-size: 24px; /* Adjust the font-size to make the icon bigger */
  }

    #product-table {
        width: 90%;
        border-collapse: collapse;
        margin: 20px auto;
        font-family: Arial, sans-serif;
    }

    #product-table th, #product-table td {
        padding: 10px;
        text-align: left;
    }

    .clickable-row {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        border-bottom: 2px solid #e7be37;
        
    }

    .clickable-row:hover {
        transform: scale(1.05);
        background-color: #f2f2f2;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow:  0 0 15px #bfbfbf; 
        border-radius: 5%; 

    }
  
    .document-link {
        background-color: #ffc300;
        display: inline-block;
        padding: 5px;

        border-radius: 5px;
      }

      .document-link ion-icon {
        color: #eeeef2;
      }
  
    .document-link1 {
        background-color: #2472e6;
        display: inline-block;
        padding: 5px;
        border-radius: 5px;
      }

      .document-link1 ion-icon {
        color: #eeeef2;
      }
  

  