:root{
    --darkgreen:#16423C;
    --green:#3da542;
    --semidarkgreen:#266529;
    --lightgreen:#7fd175;
    --black:#343131;
    --lightblack:#CACACA;
    --pureblack:#191919;
    --white:#eeeef2;
    --khaki:#FFF5E0;
    --yellow:#FFD95A;

}
@media (max-width: 1680px)
{
    .stats3dlogo
    {
    position: fixed;
    top: 1%;
    left: 5%;
    height: 22%;
    width: 14%;
    z-index: 1000;
    /* border: solid 1px black; */
    }
}
@media (max-width: 1440px)
{
    body
    {
        font-size: 14px;
    }
    .stats3dlogo
    {
    position: fixed;
    top: 1%;
    left: 5%;
    height: 22%;
    width: 14%;
    z-index: 1000;
    /* border: solid 1px black; */
    }
    .detailstable th:nth-child(6), .detailstable td:nth-child(6)
    {
        display: none;
    }
}
@media (max-width: 1280px)
{
    body
    {
        font-size: 12px;
    }
    .stats3dlogo
    {
    position: fixed;
    top: 1%;
    left: 5%;
    height: 22%;
    width: 14%;
    z-index: 1000;
    /* border: solid 1px black; */
    }
    .detailstable th:nth-child(6), .detailstable td:nth-child(6)
    {
        display: none;
    }
              .search-bar input {
            padding: 4px;
            width: 50%;
            font-size: 12px;
        }
         .search-bar button 
         {
            font-size: 20px; /* Adjust the font-size to make the icon bigger */
        }
}
@media (max-width: 1128px)
{
    body
    {
        font-size: 10px;
    }
    .stats3dlogo
    {
        display: none;
    /* border: solid 1px black; */
    }
    .detailstable th:nth-child(6), .detailstable td:nth-child(6)
    {
        display: none;
    }

    .search-bar input {

            padding: 4px;
            width: 50%;
            font-size: 10px;
        }
    .search-bar button 
        {
            font-size: 18px; /* Adjust the font-size to make the icon bigger */
        }
 td 
    {
    max-height: 10px; /* Set the desired fixed height */
    overflow: hidden;
    padding: 5px;
    }
  th
  {
  
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    height: auto; /* Add border radius to make corners circular */
  }
      .document-link {
        background-color: #ffc300;
        display: inline-block;
        padding: 2px;
        border-radius: 2px;
      }
}
@media (max-width: 1000px)
{
    body
    {
        font-size: 12px;
    }
        .internmentform {
            width: 100%;
            left: 0;
            padding-left: 10%;
            padding-right: 10%;
            
            
        }
        .internmentform::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('pictures/backgrondoverlay.png');
            background-size: contain;
            background-position: center;
            height: 100%;
            opacity: 0.4;
        }

    .detailstable
    {
        width: 100%;
        left: 0;
            border: 3px solid #328636;
        box-shadow: none;
                    border-radius: 10px;
    }
    .stats3dlogo
    {
        display: none;
    /* border: solid 1px black; */
    }
    .detailstable th:nth-child(6), .detailstable td:nth-child(6)
    {
        display: none;
    }

    .search-bar input {

            padding: 4px;
            width: 50%;
            font-size: 10px;
        }
    .search-bar button 
        {
            font-size: 18px; /* Adjust the font-size to make the icon bigger */
        }
 td 
    {
    max-height: 10px; /* Set the desired fixed height */
    overflow: hidden;
    padding: 5px;
    }
  th
  {
  
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    height: auto; /* Add border radius to make corners circular */
  }
      .document-link {
        background-color: #ffc300;
        display: inline-block;
        padding: 2px;
        border-radius: 2px;
      }
}
@media (max-width: 800px)
{
    body
    {
        font-size: 12px;
    }
        .internmentform {
            width: 100%;
            left: 0;
            padding-left: 5%;
            padding-right: 5%;
            
        }
        .internmentform::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('pictures/backgrondoverlay.png');
            background-size: contain;
            background-position: center;
            height: 100%;
            opacity: 0.4;
        }

    .detailstable
    {
        width: 100%;
        left: 0;
            border: 3px solid #328636;
        box-shadow: none;
    }
    .stats3dlogo
    {
        display: none;
    /* border: solid 1px black; */
    }
    .detailstable th:nth-child(6), .detailstable td:nth-child(6)
    {
        display: none;
    }

    .search-bar input {

            padding: 4px;
            width: 50%;
            font-size: 10px;
        }
    .search-bar button 
        {
            font-size: 18px; /* Adjust the font-size to make the icon bigger */
        }
 td 
    {
    max-height: 10px; /* Set the desired fixed height */
    overflow: hidden;
    padding: 5px;
    }
  th
  {
  
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    height: auto; /* Add border radius to make corners circular */
  }
      .document-link {
        background-color: #ffc300;
        display: inline-block;
        padding: 2px;
        border-radius: 2px;
      }
}
@media (max-width: 600px)
{
    body
    {
        font-size: 10px;
    }
        .internmentform {
            width: 100%;
            left: 0;
            padding-left: 3%;
            padding-right: 3%;
            
        }
        .internmentform::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('pictures/backgrondoverlay.png');
            background-size: contain;
            background-position: center;
            height: 100%;
            opacity: 0.4;
        }

    .detailstable
    {
        width: 100%;
        left: 0;
            border: 3px solid #328636;
        box-shadow: none;
    }
    .stats3dlogo
    {
        display: none;
    /* border: solid 1px black; */
    }
    .detailstable th:nth-child(6), .detailstable td:nth-child(6)
    {
        display: none;
    }

        .search-bar
        {
            margin-top: 0%;
            /* border: solid 1px black; */
            padding: 0;
        }
          .search-bar input {

            padding: 4px;
            width: 50%;
            font-size: 10px;
        }
        .search-bar button 
        {
            font-size: 18px; /* Adjust the font-size to make the icon bigger */
        }

 td 
    {
    max-height: 10px; /* Set the desired fixed height */
    overflow: hidden;
    padding: 5px;
    }
  th
  {
  
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    height: auto; /* Add border radius to make corners circular */
  }
      .document-link {
        background-color: #ffc300;
        display: inline-block;
        padding: 2px;
        border-radius: 2px;
      }
}

@media (max-width: 400px)
{
    body
    {
        font-size: 9px;
    }
        .internmentform {
            width: 100%;
            left: 0;
            padding-left: 1%;
            padding-right: 1%;
            
        }
        .internmentform::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('pictures/backgrondoverlay.png');
            background-size: contain;
            background-position: center;
            height: 100%;
            opacity: 0.4;
        }
                .internmentform h1 img
        {
            width:65%;

        }
    .detailstable
    {
        width: 100%;
        left: 0;
        padding-top: 1%;
        padding-left: 1%;
        padding-right: 1%;
        border: 2px solid #328636;
        box-shadow: none;
    }
    table
    {
        width: 100%;
        top: 5%;
    }
        #product-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px auto;
        font-family: Arial, sans-serif;
    }
    .stats3dlogo
    {
        display: none;
    /* border: solid 1px black; */
    }
    .detailstable th:nth-child(6), .detailstable td:nth-child(6),
    .detailstable th:nth-child(4), .detailstable td:nth-child(4)
    {
        display: none;
    }

        .search-bar
        {
            margin-top: 0%;
            
        }
        .search-bar input {

            padding: 4px;
            width: 70%;
            font-size: 9px;
        }
        .search-bar button 
        {
            font-size: 18px; /* Adjust the font-size to make the icon bigger */
        }

 td 
    {
    max-height: 10px; /* Set the desired fixed height */
    overflow: hidden;
    padding: 5px;
    }
  th
  {

    padding: 2px;
    text-align: center;
    border-radius: 5px;
    height: auto; /* Add border radius to make corners circular */
  }
      #product-table th, #product-table td {
        padding: 5px;
        text-align: left;
    }

      .document-link {
        background-color: #ffc300;
        display: inline-block;
        padding: 2px;
        border-radius: 2px;
      }
}
@media (max-width: 300px)
{
    body
    {
        font-size: 8px;
    }
        .internmentform {
            width: 100%;
            left: 0;
            padding-left: 1%;
            padding-right: 1%;

            
        }
        .internmentform::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('pictures/backgrondoverlay.png');
            background-size: contain;
            background-position: center;
            height: 100%;
            opacity: 0.4;
        }

    .detailstable
    {
        width: 100%;
        left: 0;
        padding-top: 1%;
        padding-left: 1%;
        padding-right: 1%;
        border: 2px solid #328636;
        box-shadow: none;
    }
    table
    {
        width: 100%;
        top: 5%;
    }
        #product-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px auto;
        font-family: Arial, sans-serif;
    }
    .stats3dlogo
    {
        display: none;
    /* border: solid 1px black; */
    }
    .detailstable th:nth-child(6), .detailstable td:nth-child(6),
    .detailstable th:nth-child(4), .detailstable td:nth-child(4)
    {
        display: none;
    }

        .search-bar
        {
            margin-top: 1%;
        }
        .search-bar input {

            padding: 4px;
            width: 70%;
            font-size: 8px;
        }
        .search-bar button 
        {
            font-size: 16px; /* Adjust the font-size to make the icon bigger */
        }

 td 
    {
    max-height: 10px; /* Set the desired fixed height */
    overflow: hidden;
    padding: 5px;
    }
  th
  {
  
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    height: auto; /* Add border radius to make corners circular */
  }
      .document-link {
        background-color: #ffc300;
        display: inline-block;
        padding: 2px;
        border-radius: 2px;
      }
}
@media (max-width: 290px)
{
    body
    {
        font-size: 8px;
    }
        .internmentform {
            width: 100%;
            left: 0;
            padding-left: 1%;
            padding-right: 1%;

            
        }
        .internmentform::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('pictures/backgrondoverlay.png');
            background-size: contain;
            background-position: center;
            height: 100%;
            opacity: 0.4;
        }

    .detailstable
    {
        width: 100%;
        left: 0;
        padding-top: 1%;
        padding-left: 1%;
        padding-right: 1%;
        border: 2px solid #328636;
        box-shadow: none;
    }
    table
    {
        width: 100%;
        top: 5%;
    }
        #product-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px auto;
        font-family: Arial, sans-serif;
    }
    .stats3dlogo
    {
        display: none;
    /* border: solid 1px black; */
    }
    .detailstable th:nth-child(6), .detailstable td:nth-child(6),
    .detailstable th:nth-child(4), .detailstable td:nth-child(4),
    .detailstable th:nth-child(3), .detailstable td:nth-child(3)
    {
        display: none;
    }

        .search-bar
        {
            margin-top: 1%;
        }
        .search-bar input {

            padding: 4px;
            width: 70%;
            font-size: 8px;
        }
        .search-bar button 
        {
            font-size: 16px; /* Adjust the font-size to make the icon bigger */
        }

 td 
    {
    max-height: 10px; /* Set the desired fixed height */
    overflow: hidden;
    padding: 5px;
    }
  th
  {
  
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    height: auto; /* Add border radius to make corners circular */
  }
      .document-link {
        background-color: #ffc300;
        display: inline-block;
        padding: 2px;
        border-radius: 2px;
      }
}