@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #eeeef2;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('pictures/backgroundimage.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
}
.container {
    position: absolute;
    width: 300px; /* Set the width of the container */
    height: 300px; /* Set the height of the container */
}
.providence3dlogo
{
  position: fixed;
  top: 5%;
  left: 92.5%;
  height: 100px;
  width: 120px;
  z-index: 1000;
  overflow-y: hidden;
}
.sidebackground
{
  height: 100%;
  background-color: #1f412d;
  position: fixed;
  
  left: 0;
  z-index: 2;
  top: 0;
  width: 20%;
  border-top: 10px solid #306e4a;
  border-bottom: 10px solid #306e4a;
  border-left: 10px solid #306e4a;
}

.rightbackground
{
  height: 100%;
  background-color: #1f412d;
  position: fixed;
  left: 90%;
  z-index: 0;
  top: 0;
  width: 10%;
  border-top: 10px solid #306e4a;
  border-bottom: 10px solid #306e4a;
  border-right: 10px solid #306e4a;
}

.admintext3d
{
  position: fixed;
  top: 10%;
  left: -2.5%;
  height: 80%;
  width: 250px;
  z-index: 1000;
  
}

.magni {
    position: absolute;
    left: 77%;
    top: 30px;
    height: 30%; /* Ensure the height of the logo fills the container */
    width: 200px; /* Ensure the width of the logo fills the container */
    z-index: 1000;
}

model-viewer::part(rotate-button) {
    display: none;
}

.layout h1{
    position: absolute;
    top: 2%;
    left: 25%; 
    /* border: solid 1px black; */
}
.layout h1 img
{
    width:60%;
    
}

.svg-container {
    position: relative;
    width: 90%; 
    height: 700px;
    margin-top: 7%;
    left: 5%;
    overflow: hidden;
    border: 5px solid #59cc89;
    background-color: #22223b;
    border-radius: 20px;  
}

  svg {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease;
  }


  .st2:hover {
    fill: #FFD95A;
    stroke: #eee;
    transition: 0.1s;
    
  }
  
#evergreensection2pathway {
    fill: none;            /* No fill to prevent any black background */
    stroke-width: 2px;     /* Set the thickness of the stroke */
}
#courtofserenetypathway {
    fill: none;            /* No fill to prevent any black background */
    stroke-width: 2px;     /* Set the thickness of the stroke */
}
#solacesectiion1pathway {
    fill: none;            /* No fill to prevent any black background */
    stroke-width: 2px;     /* Set the thickness of the stroke */
}
#COURTOFTRANQUILITYPATHS {
    fill: none;            /* No fill to prevent any black background */
    stroke-width: 2px;     /* Set the thickness of the stroke */
}
#PIETYESTATESPATHS {
    fill: none;            /* No fill to prevent any black background */
    stroke-width: 2px;     /* Set the thickness of the stroke */
}
#EVERGREENPATHS {
    fill: none;            /* No fill to prevent any black background */
    stroke-width: 2px;     /* Set the thickness of the stroke */
}
#SOLACEPATHS {
    fill: none;            /* No fill to prevent any black background */
    stroke-width: 2px;     /* Set the thickness of the stroke */
}
#tolsection12pathway {
    fill: none;            /* No fill to prevent any black background */
    stroke-width: 2px;     /* Set the thickness of the stroke */
}
#pathway {
    fill: none;            /* No fill to keep the background transparent */
    stroke: #FF9100;           /* Red stroke to match the predefined pathway */
    stroke-width: 2px;     /* Set the thickness of the stroke */
    stroke-linecap: round; /* Round edges for smoother lines */
    stroke-linejoin: round; /* Round joins for connecting lines */
}

#pathway {
    fill: none;            /* No fill to keep the background transparent */
    stroke: #FF9100;           /* Red stroke to match the predefined pathway */
    stroke-width: 2px;     /* Set the thickness of the stroke */
    stroke-linecap: round; /* Round edges for smoother lines */
    stroke-linejoin: round; /* Round joins for connecting lines */
}
  .messageBox {
    position: absolute;
    display: none;
    background-color: rgba(255, 254, 254, 0.9);
    color: #2A4353;
    padding: 10px;
    z-index: 1000;
    border-radius: 5px; /* Adding rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}

  /* Adjusting the arrow to remove it */
  .messageBox::before {
    display: none;
  }

  .legend {
    position: relative;
    left: 5%;
    top: 20%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of items */
    width: auto;
    max-width: 90%;
    margin-bottom: 5%;
    /* border: 1px solid #000; */
}

.legend > * { /* Target each child element of .legend */
    flex-basis: calc(100% / 4); /* Each item takes up 1/6th of the row */
    box-sizing: border-box; /* Ensures padding/margin don't break the layout */
}
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.st1piety { fill: rgb(194, 71, 118); stroke: transparent; stroke-width: .25; }
.st1piety:hover { fill: rgb(194, 71, 118); stroke: transparent; transition: 0.6s; cursor: pointer; }
.st1reflection { fill: rgb(58, 100, 177); stroke: transparent; stroke-width: .25; }
.st1reflection:hover { fill: rgb(105, 145, 226); stroke: transparent; transition: 0.6s; cursor: pointer; }
.st1solace { fill: rgb(221, 169, 122); stroke: transparent; stroke-width: .25; }
.st1solace:hover { fill: rgb(177, 136, 98); stroke: transparent; transition: 0.6s; cursor: pointer; }
.st1serenity { fill: rgb(207, 106, 135); stroke: transparent; stroke-width: .25; }
.st1serenity:hover { fill: rgb(237, 143, 167); stroke: transparent; transition: 0.6s; cursor: pointer; }
.st1tranquility { fill: rgb(218, 127, 12); stroke: transparent; stroke-width: .25; }
.st1tranquility:hover { fill: rgb(237, 160, 41); stroke: transparent; transition: 0.6s; cursor: pointer; }
.st1evergreen { fill: rgb(136, 78, 160); stroke: transparent; stroke-width: .25; }
.st1evergreen:hover { fill: rgb(173, 119, 196); stroke: transparent; transition: 0.6s; cursor: pointer; }
.st1tapestry { fill: rgb(170, 72, 57); stroke: transparent; stroke-width: .25; }
.st1tapestry:hover { fill: rgb(219, 94, 77); stroke: transparent; transition: 0.6s; cursor: pointer; }




.st1piety-color { background-color: rgb(194, 71, 118); }
.st1reflection-color { background-color: rgb(58, 100, 177); }
.st1solace-color { background-color: rgb(221, 169, 122); }
.st1serenity-color { background-color: rgb(207, 106, 135); }
.st1tranquility-color { background-color: rgb(218, 127, 12); }
.st1evergreen-color { background-color: rgb(136, 78, 160); }
.st1tapestry-color { background-color: rgb(170, 72, 57); }
.st1person-color {     background-color: #FF9100;
                        border: solid 4px #1d5127;
                        border-radius: 50%;}
    .searchline {
        position: relative;
        width: 90%;
        flex-direction: row; /* Ensure items are aligned horizontally */
        left: 5%;

    }
    .searchline h1
    {
        position: absolute;
        left: -5%;
        top: -13%;
        height: 5%;
        /* border: #000 solid 1px; */
    }
    .searchline h2
    {
        position: absolute;
        left: 65%;
        top: 83%;
        height: 15%;
        /* border: #000 solid 1px; */
        z-index: 10001;
    }
    .searchline h2 img
    {
        height: 100%;

    }

.search-container {
    position: relative;
    margin-top: 5%; /* Add some space between search bar and search result */
    top: 10%;
    width: 100%;
    margin-right: 20%;
    
    height: auto;
    /* border: solid 1px #000; */
    
}

.search-bar {
    position: relative;
    padding: 8px 12px;
    display: flex;
    width: 100%;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    width: 100%;
    border: 3px solid #328636;
    border-radius: 4px;
    
}
.search-bar span {
font-size: 20px;
    
}

#searchresult {
    position: absolute;
    z-index: 20;
    background-color: #f1f1f1;
    align-items: center;
    border-radius: 2%;
    top: 90%;
    font-size: 13px;
    width: 73%; /* Adjust width as needed */
    max-height: 150px;
    overflow-y: auto;
    display: none;
    color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow at the bottom */
}

.searchresult div {
    padding: 10px;
    cursor: pointer;
    
}

.searchresult div:hover {
    background-color: #d8d8d8;
}
.white-box {
    position: relative;
    min-height: 200px;
    height: 40%;
    left: 1% ;
    width: 98%;   
    margin-top: 2%;
    border: 3px solid #328636;
    background-color: #ffffff; /* White background */
    padding: 20px; /* Add some padding for spacing */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}
.white-box p
{
    color: #000;
}
.locate {
    position: relative;   
    margin-left: 10%;  
    color: #eeeef2;
    font-size: 15px;
    background-image: linear-gradient(to right, #3da542, #7fd175, #3da542, #7fd175, #3da542);
    padding: 10px 60px;
    border-color: #FFD95A;
    border-style: solid;
    background-clip: padding-box; /* Correct value */
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.89); /* Shadow for depth */
}
.locate a {
    text-decoration: none;
    color: #eeeef2;
    font-weight: bold;
}
@keyframes glow {
    0% { fill: #ffffff; }
    50% { fill: #ff0000; }
    100% { fill: #ffffff; }
}

.glow {
    animation: glow 1.5s infinite;
    stroke: red; /* Optional, to highlight border */
    stroke-width: 3; /* Optional, to make border visible */
    stroke-opacity: 0.8; /* Optional, to adjust border visibility */
}
@keyframes highlight {
    0% { fill: #ffffff; }
    50% { fill: #ff0000; }
    100% { fill: #ffffff; }
}

.highlight {
    animation: glow 1.5s infinite;
    stroke: red; /* Optional, to highlight border */
    stroke-width: 3; /* Optional, to make border visible */
    stroke-opacity: 0.8; /* Optional, to adjust border visibility */
}


.vacants {
    position: absolute;
    top: 55%;    
    left: 68%;
    color: #eeeef2;
    font-size: 15px;
    transform: translateY(90%);
    background-image: linear-gradient(to right, #3da542, #7fd175, #3da542, #7fd175, #3da542);
    padding: 10px 60px;
    border-color: #FFD95A;
    border-style: solid;
    background-clip: padding-box; /* Correct value */
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.89); /* Shadow for depth */
}
.vacants a {
    text-decoration: none;
    color: #eeeef2;
    font-weight: bold;
}
.navlogo {
    position: relative;
    width: 240px;
    height: 60px;
    background: #eeeef2 url("pictures/providencelogowithtext.png") no-repeat;
    background-size: contain;
    background-position: center; /* Center the background image */
    margin-bottom: 20px;
    z-index: 1000;
    top: 10px;

    border-radius: 5px;
}


.navlogo:hover {
    transform: scale(1.1); /* Adjust the scale factor for the desired zoom effect */
    transition: transform 0.3s ease;
}
.navlogo:not(:hover) {
    transition: transform 0.3s ease;
    transform: scale(1); /* Zoom back out when not hovered */
}

.layout {
    position: relative;
    width: 70%;
    height: auto;
    left: 7%;
    border-top: 10px solid #367952; /* Keep the top border */
    border-right: 10px solid #367952; /* Keep the right border */
    border-left: 10px solid #367952; /* Keep the left border */
    border-bottom: none; /* Remove the bottom border */
    backdrop-filter: blur(7px); /* Adjust the blur amount as needed */
    background-color: #eeeef2;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Add shadow */
}


.sidebar {
    position: fixed;
    top: 0;
    left: 9%;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to left, #367952, #1f412d);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 10px solid #306e4a;
    border-top: 10px solid #306e4a;
    border-bottom: 10px solid #306e4a;
    transition: width 0.5s ease;
    z-index: 999;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1); /* Add shadow to the left side */
    width: 260px; /* Set default width */
  }

  .sidebar .logo {
    color: #eeeef2;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}



.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
    transition: all 0.3s ease; /* Add a transition for smoother text effect */
}

.sidebar .logo h2,
.sidebar .logo h2:hover {
    display: block;
    color: #eeeef2; /* Add the desired color on hover */
}

.sidebar .links {
    font-size: 18px;
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: 100%;
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}
.links li span{
    color: #eeeef2;
}

.links li:hover {
    cursor: pointer;
    background: #59cc89;
}

.links h4 {
    color: #eeeef2;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Add a transition for smoother text effect */
}

.sidebar .links h4,
.sidebar .links li:hover h4 {
    display: block;
    color: #eeeef2; /* Add the desired color on hover */
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar .links hr,
.sidebar .links li:hover hr {
    border-color: transparent;
    transition: all 0.3s ease; /* Add a transition for smoother text effect */
}

.links li span {
    padding: 12px 10px;
    transition: all 0.3s ease; /* Add a transition for smoother text effect */
}

.links li a {
    padding: 10px;
    color: #eeeef2;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    transition: all 0.3s ease; /* Add a transition for smoother text effect */
}

.sidebar .links li a,
.sidebar .links li:hover a {
    display: block;
    color: #eeeef2; /* Add the desired color on hover */
}
.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #FFD95A; /* Adjust the color and width as needed */
    object-fit: cover; /* Ensure the image covers the entire area */
}
.personstart {
    fill: #FF9100;
    stroke: #1d5127;
    stroke-width: 2px; 
    animation: heartbeat 1.5s infinite; 
}

@keyframes heartbeat {
    0%, 100% {
        r: 6.3; /* Initial radius */
    }
    25% {
        r: 7.5; /* Quick increase in radius */
    }
    40% {
        r: 6.3; /* Back to initial radius */
    }
    60% {
        r: 7; /* Smaller increase in radius */
    }
    80% {
        r: 6.3; /* Back to initial radius */
    }
}