@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}
:root{
    --darkgreen:#16423C;
    --green:#3da542;
    --lightgreen:#7fd175;
    --black:#343131;
    --grey:#5a5959;
    --pureblack:#191919;
    --white:#eeeef2;
    --khaki:#FFF5E0;
    --yellow:#FFD95A;
}
body {
    min-height: 100vh;
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('pictures/backgroundimage.jpg');
    background-size: cover;
    background-position: center; */
    margin: 0;
    background-color: var(--white);
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('pictures/backgrondoverlay.png');
    background-size: contain;
    background-position: center;
    height: 100%;
    opacity: 0.4; /* Adjust this value for desired opacity */
    z-index: -1; /* Ensure it sits behind other content */
}
header {
    position: relative;
    width: 100%;
    padding: 0.5%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .links
{
    display: flex;
    margin-top: 1%;
}
li
{
    list-style-type: none;
}
.navbar a
{
    color: var(--green);
    margin-left: 20px;
    position: relative;
    text-decoration: none;
    font-size: 1.6rem;
}
.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right,  var(--lightgreen), var(--green), var(--green), var(--green), var(--lightgreen));
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
 .btnLogin-popup
{
    position: relative;
    width: 15vh;
    height: 4.5vh;
    background: transparent;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.4rem;
    color: #fefee3;
    font-weight: 500;
    margin-left: 40px;
    margin-top: -10px;
    overflow: hidden;
    text-align: center;
    background-image: linear-gradient(to right,  var(--lightgreen), var(--green), var(--green), var(--green), var(--lightgreen));
    background-origin: border-box;
    background-clip: content-box;
    border: 2px solid transparent;
    animation: moveGoldGradient 2s linear infinite alternate;
}
@keyframes moveGoldGradient {
    0% {
        border-radius: 10px;
        border-image-source: linear-gradient(to right,  var(--lightgreen), var(--green), var(--green), var(--green), var(--lightgreen));
        border-image-slice: 1;
        border-image-width: 2px;
        border-image-outset: 0;
        border-color: transparent;
        background-position: 0 0;
    }
    100% {
        border-radius: 10px;
        border-image-source: linear-gradient(to right,  var(--lightgreen), var(--green), var(--green), var(--green), var(--lightgreen));
        border-image-slice: 1;
        border-image-width: 2px;
        border-image-outset: 0;
        border-color: transparent;
        background-position: 100% 0;
    }
}
.btnLogin-popup:hover
{
    background: #b7e0b4;
    color: #162938;
}
.toggle-btn{
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}
.logo {
    width: 50%;
    height: 60px;
    background: url("pictures/providencelogowithtext.png") no-repeat;
    background-size: contain;
}
.logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.logo:not(:hover) {
    transition: transform 0.3s ease;
    transform: scale(1);
}
/*login wrapper*/
.wrapper
{
    position: absolute;
    width: 400px;
    height: 500px;
    top: 10%;
    left: 74%;
    background: #eeeef2;
    border: 2px solid #174e19;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.5s ease, height 0.2s ease;
    z-index: 999;
}
.wrapper.active-popup {
    transform: scale(1); /* Makes the popup visible */
}
.wrapper.active
{
    top: 5%;
    height: 850px;
    width: 440px;
}
.wrapper .form-box
{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login
{
    transition: transform .18s ease;
    transform: translateX(0);
    /*display: none;*/
}
.wrapper.active .form-box.login
{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register
{
    position: absolute;
    transition: none;
    transform: translateX(600px);
}
.wrapper.active .form-box.register
{
    position: absolute;
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .iconclose
{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: rgb(46, 46, 46);
    font-size: 10em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.wrapper p
{
    font-size: 1.5rem;
}
.wrapper a
{
    font-size: 1.5rem;
}
.form-box h2
{
    font-size: 3rem;
    color: #174e19;
    text-align: center;
    top: 20px;
}
.input-box
{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #3da542;
    margin: 20px 0;
}
.input-box label
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #174e19;
    font-weight: 600;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label
{
    top: -5px;
}
.input-box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #126e15;
    font-weight: 400;
    padding: 0 35px 0 5px;
}
.input-box .icon
{
    position: absolute;
    right: 8px;
    font-size: 3rem;
    color: #174e19;
}
.remember-forgot
{
    font-size: 2rem;
    color: #174e19;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input
{
    accent-color: #174e19;
    margin-right: 3px;
}
.remember-forgot a
{
    color: #174e19;
    text-decoration: none;
}
.remember-forgot a:hover
{
    text-decoration: underline;
}
.btn
{
    width: 100%;
    height: 45px;
    background-image: linear-gradient(to right, #328636, #3da542, #7fd175, #3da542, #328636);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.login-register
{
    font-size: .9em;
    color: #174e19;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a
{
    color: #174e19;
    text-decoration: none;
    font-weight: 500;
}
.login-register p a:hover
{
    text-decoration: underline;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #333;
    color: #fff;
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    font-size: 1.2rem;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.password-hint {
    visibility: hidden; /* Hidden by default */
    background-color: #f5f5f5;
    color: #333;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    top: 55px;
    font-size: 1.2rem;
    left: 0;
    z-index: 1;
    width: 150px;
}
/* Style to display the password hint */
.input-box.show-hint .password-hint {
    visibility: visible; /* Show when typing */
}
.dropdown-menu
{
    position: fixed;
    display: none;
    width: 60%;
    z-index: 1000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    right: -100%;
    background-color: var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 5%;
    height: 100vh;
    transition: right 0.3s ease;
}
.dropdown-menu.show {
    right: 0;
}
.close-btn {
    background: none;
    border: none;
    width: 100%;
    justify-content: right;
    display: flex;
    font-size: 2.5rem;
    cursor: pointer;
}
.dropdown-menu li
{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: right;
}
.dropdown-menu li a
{
    font-size: 1.2rem;
}
.detailstable {
    padding-top: 2%;
    padding-right: 1%;
    padding-left: 1%;
    left: 20%;
    position: relative;
    height: auto;
    width: 60%;
    border: 5px solid var(--grey);
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: var(--white);
    border-radius: 20px;
  }
  .detailstable h1
{
    height: auto;
}
.detailstable h1 img {
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
}
.listaccs3dpicture
{
    position: relative;
    height: 23vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-image: url('pictures/greenbg_reversed.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
}
.listaccs3dpicture img
{
    display: none;
}
.listaccs3d
{
    position: relative;
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('pictures/greenbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
}
.listaccs3d #myModelViewer
{
    height: 100%;
    width:  40%;
}
.ownercreation
{
    margin-top: 2%;
}
.ownercreation label
{
    font-size: 1.5rem;
}
.ownercreation input
{
    font-size: 1.5rem;
}
.ownername
{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 0;
}
.ownername label {
    text-align: left;
    color: var(--textcolor);
    width: 18%;
}
.ownerinputs {
    left: 8px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 35px;
}
.ownerinputs input{
    padding: 1%;
    width:30%;
    color: var(--green);
}
.typeofrequest
{
    width: 100%;
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    gap: 4vh;
    align-items: center;
    justify-content: center;
}
.reqinputdiv
{
    padding: 1%;
    background-color: var(--darkgreen);
    color:#eeeef2;
    border-radius: 5px;
    display: flex;
    gap: 1vh;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
/* .reqinputdiv:hover
{
    transform: scale(1.1);
    box-shadow: #FFD95A;
} */
.reqinputdiv input[type="radio"]
{
    border: solid 3px var(--khaki);
    border-radius: 50%;;
    color: #328636;
    appearance: none;
    width: 15px;
    height: 15px;
    transition: 0.3s ease;
}
.reqinputdiv input[type="radio"]:checked
{
    border: solid 3px var(--khaki);
    border-radius: 50%;;
    color: #328636;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--green);
    transform: scale(1.2);
}
.reqinputdiv input[type="radio"]:hover
{
    transform: scale(1.2);
}
.owneremail
{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 0;
}
.emailname {
    text-align: left;
    color: var(--textcolor);
    width: 18%;
}
.emailinput {
    left: 8px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    height: 35px;
}
.emailinput input{
     padding: 1%;
    width: 40%;
    color: var(--green);
}
.owneraddress
{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 0;
}
.addressname {
    text-align: left;
    color: var(--textcolor);
    width: 18%;
}
.addressinput {
    left: 8px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    height: 35px;
}
.addressinput input{
     padding: 1%;
    width: 80%;
    color: #126e15;
}
.ownercertificate
{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 0;
}
.certificatename {
    text-align: left;
    color: var(--textcolor);
    width: 18%;
}
.certificateinput {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    height: 35px;
    padding: 1%;
}
.certificateinput input{
    width: 40%;
    text-decoration: none;
    color: #126e15;
    height: 32px;
}
#certificate {
  display: inline-block;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 40%; /* Adjust width as needed */
  transition: 0.3s ease;
}
/* Hide the default file input button */
#certificate::-webkit-file-upload-button {
  visibility: hidden;
}
/* Create a custom button style */
#certificate::before {
  content: 'Upload Certificate';
  display: inline-block;
  padding: 2%;
  background-color: #126e15;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
#certificate:hover:hover {
  background-color: #126e15;
  transform: scale(1.1);
}
#certificate:focus::before {
  outline: none;
  box-shadow: 0 0 5px #126e15;
}
#certificate:focus {
  outline: none;
  border-color: #1b8d1e;
  box-shadow: 0 0 5px #0c4d0e;
}
.ownerpassword
{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 0;
}
.passwordname {
    text-align: left;
    color: var(--textcolor);
    width: 18%;
}
.passwordinput {
    left: 8px;
    position: relative;
    display: inline-flex;
    gap: 1vh;
    align-items: center;
    width: 40%;
    height: 35px;
}
.passwordinput input{
    position: relative;
    padding: 1%;
    width: 80%;
        color: #126e15;
}
.passwordinput ion-icon
{
    position: relative;
    color: #121212;
    opacity: 0.8;;
    font-size: 2.5vh;
    justify-content: center;
    right: 5%;
    align-self: center;
}
.ownercontact
{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 0;
}
.contactname {
    text-align: left;
    color: var(--textcolor);
    width: 18%;
}
.contactinput {
    left: 8px;
    position: relative;
    display: inline-flex;
    gap: 1vh;
    align-items: center;
    width: 40%;
    height: 35px;
}
.contactinput input{
    padding: 1%;
    width: 80%;
    color: #126e15;
}
.error-message {
     color: #1b8d1e;
     font-size: 20px;
     text-align: left;
     display: none;
     width: 40%;
}
.buttonbg {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkgreen);
  /* background: linear-gradient(to right,var(--green), var(--darkgreen), var(--green)); */
}
.btnLogin-popup1 {
    min-width: 10%;
    min-height: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: #ffffff;
    background: #4fd16b;
    background: linear-gradient(90deg, #235f26 0%, #3da542 100%);
    border: 5px solid white;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  .btnLogin-popup1::before {
  content: '';
    border-radius: 1000px;
    min-width: 103%;
    min-height: 110%;
    border: 2px solid #4fd16b;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  .btnLogin-popup1:hover, .btnLogin-popup1:focus {
    color: #ffffff;
    transform: translateY(-6px);
  }
  .btnLogin-popup1:hover::before, .btnLogin-popup1:focus::before {
    opacity: 1;
  }
  .footer
{
    color: var(--white);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background: linear-gradient(to top, var(--pureblack), var(--black));
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 5%;
    padding-bottom: 2%;
    box-sizing: border-box;
}
.footer-column {
    flex: 1 1 0;
    box-sizing: border-box; /
}
.footer-column h3 {
    font-size: 2.3rem;
    color: var(--white);
    margin-bottom: 2%;
}
.footer-column p {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 5%;
    color: var(--white);
    margin-bottom: 2%;
}
.footer-column ion-icon {
    font-size: 1.5rem;
}
.footer a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
}
.footer a:hover {
    text-decoration: underline;
}
